.desc {
    font-size: 0.8em;
    margin: 0.6em 0 1em;
    opacity: 0.8;
}

.actions {
    font-size: 0.8em;
}

.action {
    position: relative;
    padding-right: 1em;
    margin-right: 1em;

    &:before {
        content: '';
        position: absolute;
        height: 0.7em;
        width: 0.7em;
        top: 0.1em;
        right: 0;

        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 100% 50%;

        opacity: 0.8;
    }
}

.download {
    composes: action;

    &:before {
        background-image: url('../../icons/download.svg');
    }
}

.play {
    composes: action;

    &:before {
        width: 0.8em;
        height: 0.8em;
        top: 0.2em;
        background-image: url('../../icons/play.svg');
    }
}

.player {
    height: 2em;
    filter: invert(1);
    max-width: 100%;

    &:focus {
        outline: none;
    }
}
