.section {
    margin-bottom: 2em;

    h3 {
        margin-bottom: 0.3em;
    }

    ul {
        border-left: solid 2px #999;
        padding-left: 0.6em;
        margin-left: 0.1em;
    }
}

.tracklist {

    font-size: 0.9em;;

    li {
        margin-left: 2em;
    }
}

