.info {
    @media screen and (min-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1em;
    }

    @media screen and (min-width: 1000px) {
        grid-template-columns: 1fr 3fr;
    }

    div {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0.4em;
    }

    dl {
        margin-bottom: 2em;
        line-height: 1;
        @media screen and (min-width: 800px) {
            margin-bottom: 0;
        }
    }

    dt {
        width: 5em;
        font-size: 0.8em;
    }

    p {
        @media screen and (min-width: 800px) {
            border-left: solid 1px rgba(255, 255, 255, 0.2);
            padding-left: 2em;
        }
    }
}
