.info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1em;

    div {
        display: flex;
        align-items: flex-end;
    }

    dt {
        width: 5em;
        font-size: 0.8em;
    }

    p {
        border-left: solid 1px rgba(255, 255, 255, 0.2);
        padding-left: 2em;
    }
}
