.p {
    display: flex;
    align-items: center;

    font-size: 0.8em;
    opacity: 0.8;

    a {
        margin-left: 0.6em;
    }

    img {
        width: 1.6em;
    }
}

.dropbox,
.drive {
    img {
        width: 1.3em;
    }
}

.details {
    display: flex;
    justify-content: space-between;
}

.dir {
    display: inline-block;
    overflow: hidden;

    span {
        display: inline-block;
        position: relative;
        top: 0.45em;
        animation: dir 1s infinite linear;
    }
}

@keyframes dir {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}
