.p {
    display: flex;
    align-items: center;

    font-size: 0.8em;
    line-height: 1.3;
    opacity: 0.8;

    a {
        margin-left: 0.6em;
    }

    img {
        width: 1.6em;
    }
}

.downloadLabel {
    display: none;

    @media screen and (min-width: 600px) {
        display: inline;
    }
}

.dropbox,
.drive {
    img {
        width: 1.3em;
    }
}

.details {
    display: flex;
    justify-content: space-between;
}

.dir {
    overflow: hidden;
    white-space: nowrap;

    &::after {
        content: '';
        position: relative;
        display: inline-block;

        margin-left: 0.3em;
        width: 1.4em;
        height: 1em;
        top: 0.15em;


        opacity: 0.6;
        background: url(../../icons/arrow2.svg) no-repeat 0 0;
        background-size: contain;

        animation: dirBg 1s infinite linear;
    }

}

@keyframes dirBg {
    from {
        background-position: -1em 50%;
    }
    to {
        background-position: 1.4em 50%;
    }
}

